.carousel img {
    width: 100% !important;
    aspect-ratio: 16/9 !important;
    object-fit: cover;
}

.carousel .carousel-control-prev-icon {
    filter: none !important;
}

.carousel .carousel-control-next-icon {
    filter: none !important;
}

.carousel-inner p {
    color: white !important;
}

.btn-img-view {
    cursor: pointer;
}

.highlighted {
    background-color: RGBA(0, 0, 0, 0.3);
    padding: 2px;
}
